#header, #footer {
    -fx-padding: 1.5em;
    -fx-spacing: 1em;
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
}

#counters {
	-fx-padding: 3em;
	-fx-spacing: 1em;
}

#options {
	-fx-padding: 2em;
	-fx-spacing: 1em;
}

Button {
    -fx-font-size: 10pt;
    -fx-padding: 1em;
}

#logo {
    -fx-font-size: 14pt;
}